
<footer class="h-100 bg-dark text-white text-start p-2 mt-5">
    <div class="container-fluid p-3 pb-md-5 ps-2 ps-md-4 mt-5">
        <div class="row">
            <div class="col-12 col-md-4 p-1 ps-2 ">
                <h4 class="p-3 ps-0 fs-1">My business</h4>
                <p class=" w-60 text-muted lh-lg">Each theme featured at the Bootstrap marketplace has been
                    reviewed by Bootstrap's creator.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-12 col-md-8 d-md-flex justify-content-around pt-2 pt-md-0">
                <div>
                    <h4 class="pb-3 pt-4 pt-md-0">Account</h4>
                    <ul>
                        <li class="pt-3">
                            <a class="text-muted" href="#">Terms And Conditions</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Privacy Policy</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Affiliate Services</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Help And Support</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Frequently Asked Question</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="pb-3 pt-4 pt-md-0">About</h4>
                    <ul>
                        <li class="pt-3">
                            <a class="text-muted" href="#">Services</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">About us</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Pricing</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Products Shop</a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted " href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="pb-3 pt-4 pt-md-0">Social</h4>
                    <ul>
                        <li class="pt-3">
                            <a class="text-muted d-flex align-items-center" href="#">
                                <img class="me-3" src="../../assets/img/facebook.png" alt="">
                                <p>Facebook</p>
                            </a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted d-flex align-items-center" href="#">
                                <img class="me-3" src="../../assets/img/facebook.png" alt="">

                                <p>Twitter</p>
                            </a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted d-flex align-items-center" href="#">
                                <img class="me-3" src="../../assets/img/facebook.png" alt="">
                                <p>Pinterest</p>
                            </a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted d-flex align-items-center" href="#">
                                <img class="me-3" src="../../assets/img/facebook.png" alt="">

                                <p>LinkedIn</p>
                            </a>
                        </li>
                        <li class="pt-3">
                            <a class="text-muted d-flex align-items-center" href="#">
                                <img class="me-3" src="../../assets/img/facebook.png" alt="">
                                <p>YouTube</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success btn-floating d-lg-none d-block" id="btn-back-to-top">
        <i class="bi bi-chevron-up p-1"></i>
    </button>
