<header class="container-fluid p-0">
    <div
        class="blackHeader text-white bg-dark d-md-flex flex-row d-block justify-content-between align-items-center p-1 pe-3">
        <div class="blackHeader__dir d-flex flex-row align-items-center ps-2">
            <img class="" src="../../assets/img/location.png" alt="facebook" srcset="">
            <p class="ps-2">4 Goldfield Rd. Honolulu, HI 96815</p>
        </div>
        <div class="blackHeader__icons d-flex flex-row align-items-center p-2 ps-3">
            <img class="me-3" src="../../assets/img/facebook.png" alt="facebook" srcset="">
            <img class="me-3" src="../../assets/img/facebook.png" alt="facebook" srcset="">
            <img class="me-3" src="../../assets/img/facebook.png" alt="facebook" srcset="">
            <img class="me-3" src="../../assets/img/facebook.png" alt="facebook" srcset="">
        </div>
    </div>
    <div class="greeyHeader bg-light d-flex flex-row justify-content-between align-items-center p-2 ">
        <h3 id="myBusiness" class="fs-2 d-none d-lg-block">My Business</h3>
        <div class="d-md-flex flex-row align-items-center d-none">
            <div class="contactInfo d-flex p-3">
                <img class="mt-1 me-3" src="../../assets/img/facebook.png" alt="facebook" srcset="">
                <div>
                    <p class="">+7809346657</p>
                    <p class="text-muted">Call Free</p>
                </div>
            </div>
            <div class="contactInfo d-flex p-3">
                <img class="mt-1 me-3" src="../../assets/img/facebook.png" alt="facebook" srcset="">
                <div>
                    <p class="fw">info@example.com</p>
                    <p class="text-muted">Email Us</p>
                </div>
            </div>
            <div class="contactInfo d-flex p-3">
                <img class="mt-1 me-3"src="../../assets/img/facebook.png" alt="facebook" srcset="">
                <div>
                    <p class="fw">Mon-Sat 9:00-12:00</p>
                    <p class="text-muted">Sunday Closed</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-success rounded-3 me-md-4 p-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bolder d-lg-none" href="#">My business</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ps-2 ps-lg-0">
                            <a class="text-light nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                HOME
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-dark bg-light" href="#">1123</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ps-2 ps-lg-0">
                            <a class="text-light nav-link fw-bolder" href="#">ABOUT</a>
                        </li>

                        <li class="nav-item ps-2 ps-lg-0">
                            <a class="text-light nav-link fw-bolder">SERVICES</a>
                        </li>
                        <li class="nav-item ps-2 ps-lg-0">
                            <a class="text-light nav-link fw-bolder">PRICING</a>
                        </li>
                        <li class="nav-item ps-2 ps-lg-0">
                            <a class="text-light nav-link fw-bolder">PROJECTS</a>
                        </li>
                        <li class="nav-item ps-2 ps-lg-0">
                            <a class="text-light nav-link fw-bolder">CONTACT</a>
                        </li>
                    </ul>
                    <button class="btn bg-white  rounded-pill">
                        <p class="p-2 fw-bolder fs-6 ps-4 pe-4">
                            GET A QUOTE
                        </p>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>