<section id="lastNews">
    <div class="container-fluid">
        <div class="row text-center pb-md-5 pt-5 p-md-5 me-auto">
            <h3 class="pt-1 pb-4 display-3 fw-normal">Read Our Latest News</h3>
            <p class="text-muted ">Our duty towards you is to share our experience we're reaching in our work path
                with you.</p>
        </div>
        <div class="row p-2">
            <div class="col-lg-4" style="margin-top:3em !important;">
                <div class="card ">
                    <img src="../../assets/img/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="pt-2">17 October 2018</span>
                        <h5 class="card-title pt-2">Top tips to speed up your site in a speedy time</h5>
                        <p class="card-text text-muted ">There are many variations of passages Lorem Ipsum available, but majority hava ama suffered  altratio. the lorem.</p>
                    </div>
                    <a href="#" class="text-success card-link text-decoration-none fw-bolder">Card link</a>
                </div>
            </div>
            <div class="col-lg-4 " style="margin-top:3em !important;">
                <div class="card">
                    <img src="../../assets/img/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="pt-2">17 October 2018</span>
                        <h5 class="card-title pt-2">Brand your site value with marketing strategies</h5>
                        <p class="card-text text-muted ">There are many variations of passages Lorem Ipsum available, but majority hava ama suffered  altratio. the lorem.</p>
                    </div>
                    <a href="#" class="text-success card-link text-decoration-none fw-bolder">Card link</a>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top:3em !important;">
                <div class="card">
                    <img src="../../assets/img/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="pt-2">17 October 2018</span>
                        <h5 class="card-title pt-2 text-success">Website Optimization is very essential for site speed
                        </h5>
                        <p class="card-text text-muted ">There are many variations of passages Lorem Ipsum available, but majority hava ama suffered  altratio. the lorem.</p>
                    </div>
                    <a href="#" class="text-success card-link text-decoration-none fw-bolder">Card link</a>
                </div>
            </div>
        </div>
    </div>
</section>